- var BASE_URL = "http://localhost:3000"
mixin meta(page = "", title = "" , url = "")
  title= title
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0")
  meta(name="description" content="")
  meta(name="keywords" content="")
  link(rel= page href= `${BASE_URL}/${url}`)
  link(rel="canonical" href= `${BASE_URL}/${url}`)  
  link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
  link(href="/style.css" rel="stylesheet")
  //- link(href="style.css" rel="preload" as="style")
  //- script(async src="/js/async.js")
  //- style
  //-   include critical.css