- var BASE_URL = "http://localhost:3000"
mixin meta(page = "", title = "" , url = "")
  title= title
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0")
  meta(name="description" content="")
  meta(name="keywords" content="")
  link(rel= page href= `${BASE_URL}/${url}`)
  link(rel="canonical" href= `${BASE_URL}/${url}`)  
  link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
  link(href="/style.css" rel="stylesheet")
  //- script(src="https://threejs.org/build/three.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r126/three.min.js")
  script(src="https://unpkg.com/three@0.126.0/examples/js/loaders/GLTFLoader.js")
  script(src="https://threejs.org/examples/js/controls/OrbitControls.js")
  //- script(src="https://code.createjs.com/1.0.0/tweenjs.min.js")
  script(src="https://threejs.org/examples/js/controls/FirstPersonControls.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/18.6.4/tween.umd.js")
  script(src="https://d3js.org/d3.v4.min.js")

  //- script( src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/GLTFLoader.js")
  //- script(src="https://unpkg.com/three@0.126.0/examples/js/loaders/GLTFLoader.js")
  //- link(href="style.css" rel="preload" as="style")
  //- script(async src="/js/async.js")
  //- style
  //-   include critical.css